*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    justify-content: space-evenly;
    background-color: #023047;
    width: 100%;
    list-style-type: none;
    height: 6vh;
    color: white;
    width: 100%;


}
li{
    margin-top: 5px;
    margin-right: 70px;
}
.cont{
    height: 100vh;
    margin: auto;
    width: 100%;

}
.bottom-area{
    text-align: center;
}
.img{
    display: flex;
    justify-content: center;
}
.container{
    background-color: black;
    height: 100vh;
    width: 100%;

}
#but1{
    width: 80px;
    height: 40px;
    border: none;
    color: white;
    background-color: #023047;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.7s;
    outline: none;

}
#but1:hover{
    box-shadow: inset 80px 0 0 0 rgb(75, 75, 69);
    font-weight: bolder;
}
#but2{
    width: 80px;
    height: 40px;
    border: none;
    color: white;
    background-color: #023047;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.7s;
    outline: none;
    

}
#but2:hover{
    box-shadow: inset 80px 0 0 0 rgb(75, 75, 69);
    font-weight: bolder;

}
.effect-1{
    height: 40px;
    border: none;
    color: white;
    background-color: black;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 #f9e506;
    transition: ease-out 0.7s;
    outline: none;
    text-align: center;
}
.effect-1:hover{
    box-shadow: inset 80px 0 0 0 rgb(75, 75, 69);
    font-weight: bolder;

}